@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1F4529;
    --secondary-color: #47663B;
    --midtone: #E8ECD7;
    --accent-color: #EED3B1;
    --white: #FCFEF1;
    --red: #A35252;
    --red-soft: #F0D1D1;
    --pale-green: #8A9985;
}