@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1F4529;
    --secondary-color: #47663B;
    --midtone: #E8ECD7;
    --accent-color: #EED3B1;
    --white: #FCFEF1;
    --red: #A35252;
    --red-soft: #F0D1D1;
    --pale-green: #8A9985;
}

.modal {
    padding: 0.5rem 0;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--white);
    z-index: 20;
    transform: translate(-50%, -50%);
    width: min(500px, 95vw);
    border-radius: 0.5rem;
    display: none;

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        position: relative;

        .modal-cancel {
            cursor: pointer;
            color: var(--secondary-color);
        }

        .modal-title {
            font-size: 1.1rem;
            font-weight: 800;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .modal-content {
        padding: 0.5rem 1rem;
    }
}