@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1F4529;
    --secondary-color: #47663B;
    --midtone: #E8ECD7;
    --accent-color: #EED3B1;
    --white: #FCFEF1;
    --red: #A35252;
    --red-soft: #F0D1D1;
    --pale-green: #8A9985;
}

button, a {
    cursor: pointer;
}

.modal {
    padding: 0.5rem 0;
    position: fixed;
    max-height: 90vh;
    overflow: auto;
    top: 50%;
    left: 50%;
    background-color: var(--white);
    z-index: 20;
    transform: translate(-50%, -50%);
    width: min(500px, 95vw);
    border-radius: 0.5rem;
    display: none;
    box-shadow: 1px 1px 8px var(--secondary-color);

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        position: relative;

        .modal-cancel {
            cursor: pointer;
            color: var(--secondary-color);
        }

        .modal-title {
            font-size: 1.1rem;
            font-weight: 800;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .modal-content {
        padding: 0.5rem 1rem;
    }
}

.modal-overlay {
    position: fixed;
    inset: 0;
    top: 0;
    background-color: var(--primary-color);
    z-index: 19;
    opacity: 0.15;
    display: none;

    &.show {
        display: block;
    }
}

main {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(13, 1fr);
    min-height: 100vh;
    background-color: var(--midtone);

    .left-panel {
        grid-column: 1 / 4;
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem;
        max-height: 100vh;
        height: 100vh;
        position: sticky;
        z-index: 1;
        top: 0; bottom: 0;

        nav {
            height: 100%;
            display: flex;
            flex-direction: column;

            .brand {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 0.8rem;
                color: var(--secondary-color);
                padding: 1rem 1.5rem;
    
                .logo {
                    height: 3rem;
                    padding-bottom: 0.5rem;
    
                    svg {
                        height: 2.5rem;
                        width: fit-content;
    
                        * {
                            fill: var(--secondary-color);
                        }
                    }
                }
    
                .name {
                    font-weight: 800;
                    font-size: 1.2rem;
                }
            }

            a:not(.brand), button {
                padding: 0.7rem 1.5rem;
                text-decoration: none;
                color: inherit;
                border-radius: 3rem;
                font-size: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                & *:not(span) {
                    width: 1.2rem;
                }

                &.active-link {
                    color: var(--accent-color);
                    background-color: var(--secondary-color);
                }
            }

            .logout {
                margin-top: auto;
                padding: 0.5rem 0;
                display: flex;

                button {
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    padding: 0.7rem 0.9rem;
                    color: var(--secondary-color);
                    font-size: 0.8rem;

                    svg {
                        * {
                            stroke: var(--secondary-color);
                        }
                    }
                }
            }

            .profile {
                display: flex;
                align-items: center;
                padding: 0 0 1rem 0.5rem;
                gap: 0.5rem;

                .display-picture {
                    width: 2.5rem;
                    aspect-ratio: 1;
                    overflow: hidden;
                    border-radius: 50%;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: var(--secondary-color);
                    margin-right: auto;

                    .display-name {
                        font-size: 1rem;
                        font-weight: 700;
                    }

                    .role {
                        font-size: 0.8rem;
                    }
                }

                .menu {
                    svg {
                        height: 1rem;
                    }
                }
            }
        }
    }

    .primary-screen {
        grid-column: 4 / 10;
    }

    .secondary-screen {
        grid-column: 10 / 14;
    }
}