.landing {
    display: flex;
    flex-direction: column;
    --nav-height: 5rem;

    nav {
        color: var(--midtone);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem calc(100% / 12);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transition: 0.3s;
        z-index: 10;

        &.scrolled {
            background-color: var(--primary-color);
        }

        .brand {
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            text-decoration: none;
            color: inherit;

            .logo {
                height: 3rem;
                padding-bottom: 0.5rem;

                img {
                    height: 100%;
                }
            }

            .name {
                font-weight: 800;
                font-size: 1.2rem;
            }
        }

        ul {
            list-style: none;
            display: flex;
            gap: 0.5rem;

            li {
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: inherit;
                    font-weight: 300;
                    font-size: 0.9rem;
                    position: relative;
                    padding-bottom: 0.2rem;
                    padding: 1rem;

                    &.login {
                        border: 1px solid var(--midtone);
                        padding: 0.5rem 1rem;
                        border-radius: 0.5rem;
                        transition: 0.3s;

                        &:hover {
                            background-color: var(--midtone);
                            color: var(--primary-color);
                        }
                    }

                    &:not(.login)::after {
                        content: '';
                        position: absolute;
                        background-color: var(--midtone);
                        width: 0;
                        height: 2px;
                        left: 1rem;
                        bottom: 0.8rem;
                        transition: 0.3s;
                    }
                }

                &:hover a::after {
                    width: calc(100% - 2rem);
                }

                &:has(a.login) {
                    padding-right: 0;
                }
            }
        }
    }

    section {
        padding-block: calc(var(--nav-height) + 2rem) 2rem;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        h3 {
            font-size: 1.3rem;
            color: var(--primary-color);
        }
    }

    #home {
        background-color: var(--primary-color);
        color: var(--midtone);

        .hero {
            grid-column: 2 / 7;
            align-self: center;
            transform: translateY(-2rem);

            .heading {
                font-size: 3.5rem;
                font-weight: 800;
            }

            .subheading {
                font-size: 1.3rem;
                font-weight: 400;
                margin-top: 0.5rem;
            }

            .cta {
                display: block;
                background-color: var(--accent-color);
                color: var(--primary-color);
                width: fit-content;
                padding: 1.2rem 2rem;
                border-radius: 0.5rem;
                margin-top: 3rem;
                font-size: 1rem;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    filter: brightness(1.1);
                }
            }
        }

        .image {
            grid-column: 8 / 13;
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 1rem 0 0 1rem;
            }
        }
    }

    #about {
        grid-template-rows: 2rem 1fr;
        gap: 1rem;
        background-color: var(--midtone);

        .title {
            grid-column: 2 / 12;
            grid-row: 1;
        }

        .image {
            grid-column: 2 / 5;
            grid-row: 2;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 30%;
                border-radius: 0.5rem;
            }
        }

        .context {
            grid-row: 2;
            grid-column: 5 / 12;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            p {
                font-size: 1rem;
                color: var(--secondary-color);
            }
        }
    }

    #explore {
        grid-template-rows: 2rem 1fr;
        gap: 1rem 2rem;
        background-color: var(--midtone);

        .title {
            grid-column: 2 / 12;
            grid-row: 1;
        }

        .features {
            grid-column: 2 / 6;
            background-color: var(--secondary-color);
            color: var(--midtone);
            padding: 1.5rem 2rem;
            border-radius: 0.5rem;

            h4 {
                margin-bottom: 1rem;
            }

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    display: grid;
                    align-items: center;
                    grid-template-columns: 1.5rem 1fr;
                    gap: 1rem;

                    .icon {
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .text {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .house-types {
            grid-column: 6 / 12;
            padding-top: 1.5rem;
            display: flex;
            flex-direction: column;

            h4 {
                color: var(--primary-color);
                margin-bottom: 1rem;
            }

            .carousel {
                position: relative;
                flex: 1;
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .houses {
                    list-style-type: none;
                    display: flex;
    
                    .house {
                        position: relative;
                        flex: 0 0 100%;
                        inset: 0;
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        gap: 1rem;
    
                        .details {
                            grid-column: 1 / 3;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 1rem;
    
                            .house-type {
                                
                                .name {
                                    color: var(--secondary-color);
                                    font-weight: 900;
                                    font-size: 4rem;
                                    line-height: 1;
                                }
    
                                .type {
                                    color: var(--secondary-color);
                                    font-size: 1.2rem;
                                }
                            }
    
                            .metrics {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                grid-template-rows: repeat(2, 1fr);
                                gap: 0.5rem 1rem;
    
                                .metric {
                                    display: flex;
                                    flex-direction: column;
                                    text-align: center;
    
                                    .data {
                                        color: var(--secondary-color);
                                        font-weight: 900;
                                        font-size: 2.5rem;
                                    }
    
                                    .data-type {
                                        color: var(--secondary-color);
                                        font-size: 0.8rem;
                                    }
                                }
                            }
    
                            .details-btn {
                                background-color: var(--secondary-color);
                                width: fit-content;
                                color: var(--midtone);
                                text-decoration: none;
                                padding: 0.7rem 1rem;
                                filter: brightness(1.2);
                                border-radius: 0.5rem;
                                margin-top: 1rem;
                                font-weight: 300;
                                font-size: 0.9rem;
                                display: flex;
                                gap: 0.5rem;
                            }
                        }
    
                        .picture {
                            grid-column: 3 / 7;
                            overflow: hidden;
                            position: relative;
                            border-radius: 1rem;
    
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: 80%;
                                position: absolute;
                                bottom: 0; left: 0;
                                z-index: 2;
                                --color: white;
                                filter: drop-shadow(4px 4px 0 var(--color))
                                    drop-shadow(4px -4px 0 var(--color))
                                    drop-shadow(-4px 4px 0 var(--color))
                                    drop-shadow(-4px -4px 0 var(--color));
                            }
    
                            .background {
                                background-color: var(--accent-color);
                                width: 100%;
                                height: 15rem;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                z-index: 1;
                                border-radius: 1rem;
                            }
                        }
                    }
                }

                .buttons {
                    display: flex;
                    justify-content: center;
                    gap: 0.5rem;
                    
                    button {
                        width: 0.7rem;
                        height: 0.7rem;
                        background-color: rgb(195, 195, 195);
                        border-radius: 2rem;
                        border: none;
                        cursor: pointer;

                        &.active {
                            width: 2rem;
                            height: 0.7rem;
                            background-color: var(--secondary-color);
                        }
                    }
                }
            }
        }
    }
}