main {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(13, 1fr);
    min-height: 100vh;
    background-color: var(--midtone);

    .left-panel {
        grid-column: 1 / 4;
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem;
        max-height: 100vh;
        height: 100vh;
        position: sticky;
        z-index: 1;
        top: 0; bottom: 0;

        nav {
            height: 100%;
            display: flex;
            flex-direction: column;

            .brand {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 0.8rem;
                color: var(--secondary-color);
                padding: 1rem 1.5rem;
    
                .logo {
                    height: 3rem;
                    padding-bottom: 0.5rem;
    
                    svg {
                        height: 2.5rem;
                        width: fit-content;
    
                        * {
                            fill: var(--secondary-color);
                        }
                    }
                }
    
                .name {
                    font-weight: 800;
                    font-size: 1.2rem;
                }
            }

            a:not(.brand), button {
                padding: 0.7rem 1.5rem;
                text-decoration: none;
                color: inherit;
                border-radius: 3rem;
                font-size: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                & *:not(span) {
                    width: 1.2rem;
                }

                &.active-link {
                    color: var(--accent-color);
                    background-color: var(--secondary-color);
                }
            }

            .logout {
                margin-top: auto;
                padding: 0.5rem 0;
                display: flex;

                button {
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    padding: 0.7rem 0.9rem;
                    color: var(--secondary-color);
                    font-size: 0.8rem;

                    svg {
                        * {
                            stroke: var(--secondary-color);
                        }
                    }
                }
            }

            .profile {
                display: flex;
                align-items: center;
                padding: 0 0 1rem;
                gap: 0.5rem;

                .display-picture {
                    width: 2.5rem;
                    aspect-ratio: 1;
                    overflow: hidden;
                    border-radius: 50%;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: var(--secondary-color);
                    margin-right: auto;

                    .display-name {
                        font-size: 1rem;
                        font-weight: 700;
                    }

                    .role {
                        font-size: 0.8rem;
                    }
                }

                .menu {
                    svg {
                        height: 1rem;
                    }
                }
            }
        }
    }

    .primary-screen {
        grid-column: 4 / 10;
    }

    .secondary-screen {
        grid-column: 10 / 14;
    }
}

.home {
    .primary-screen {
        max-width: 500px;
        margin-inline: auto;

        .header {
            display: flex;
            align-items: center;
            color: var(--secondary-color);
            padding: 1.5rem 0;
            gap: 1rem;

            h2 {
                font-weight: 800;
                margin-right: auto;
            }

            a {
                text-decoration: none;
                color: inherit;
                font-size: 0.9rem;

                &.active {
                    font-weight: 600;
                }
            }
        }

        .create-post {
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid var(--pale-green);

            .textarea {
                background-color: var(--white);
                display: flex;
                border-radius: 1.4rem;
                min-height: 2rem;
                padding: 0.2rem;
                position: relative;

                .display-picture {
                    border-radius: 50%;
                    overflow: hidden;
                    aspect-ratio: 1;
                    height: 2.4rem;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                textarea {
                    flex: 1;
                    background-color: transparent;
                    border: none;
                    font-size: 1rem;
                    field-sizing: content;
                    outline: none;
                    padding: 0.6rem 0.3rem;
                    resize: none;
                }

                svg {
                    position: relative;
                    align-self: flex-end;
                    margin: 0 0.2rem 0.6rem 0.2rem;
                    height: 1.5rem;

                    * {
                        fill: var(--secondary-color);
                    }
                }
            }

            .options {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                padding-left: 0.3rem;

                .option {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    color: var(--pale-green);
                    cursor: pointer;
                }

                .custom-dropdown {
                    position: relative;
                    user-select: none;

                    .dropdown-selected {
                        cursor: pointer;
                        display: flex;
                    }

                    .dropdown-options {
                        display: none;
                        position: absolute;
                        width: 100%;
                        background: var(--white);
                        color: var(--pale-green);
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                        border-radius: 5px;
                        overflow: hidden;
                        z-index: 10;

                        li {
                            padding: 10px;
                            cursor: pointer;

                            &:hover {
                                background: #e0e0e0;
                            }
                        }   
                    }
                }

                .post-button {
                    background-color: var(--secondary-color);
                    padding: 0.75rem 1.75rem;
                    border: none;
                    border-radius: 2rem;
                    color: var(--midtone);
                    font-size: 1rem;
                    margin-left: auto;
                }
            }
        }

        .post {
            display: grid;
            grid-template-columns: 2.5rem 1fr;
            padding-block: 1rem;

            &:not(:last-child) {
                border-bottom: 1px solid var(--pale-green);
            }

            .display-picture {
                border-radius: 50%;
                width: 100%;
                aspect-ratio: 1;
                overflow: hidden;
                cursor: pointer;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                padding-left: 0.85rem;
                position: relative;

                .post-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .author {
                        color: var(--secondary-color);
                        cursor: pointer;
                        
                        .name {
                            font-weight: 600;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .time {
                            font-size: 0.8rem;
        
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .meatball {
                        margin-left: auto;
                        aspect-ratio: 1;
                        display: flex;
                        align-items: center;
                        border-radius: 50%;
                        padding: 0.3rem;
                        cursor: pointer;

                        * {
                            fill: var(--secondary-color);
                        }
                    }
                }

                .context {
                    font-size: 0.9rem;
                    overflow-x: auto;
                    position: relative;

                    .text {
                        padding: 0.5rem 0;
                        position: sticky;
                        left: 0;
                        font-size: 1rem;
                    }
                }

                .datas {
                    display: flex;
                    align-items: center;
                    padding: 0.5rem 0 0;
                    gap: 0.5rem;
                    left: -0.85rem;
                    position: relative;

                    .data {
                        font-size: 1.1rem;
                        padding: 0 0.8rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 2rem;
                        color: #696969;
                        cursor: pointer;
                        user-select: none;
                        position: relative;

                        * {
                            pointer-events: none;
                        }

                        svg {
                            height: 1rem;
                        }
                    }
                }
            }
        }
    }
}